body {
  margin: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

button {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
  font-size: 30px;
  border: 0;
  cursor: pointer;
  filter: brightness(90%);
  text-align: center;
}

button:active {
  filter: brightness(120%);
}

#outer.container {
  width: 95%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

#calc-screen {
  height: 100px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

#calc {
  display: block;
  margin-inline: auto;
  width: 100%;
  height: 100px;
  padding-right: 20px;
  text-align: right;
  font-size: 100px;
  font-weight: 300;
  color: white;
  background-color: transparent;
  border: 0;
}

#buttons-container {
  display: flex;
  justify-content: center;
  width: 98%;
  margin-inline: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#zero {
  width: 60%;
  text-align: left;
  padding-left: 30px;
  border-radius: 40px;
}

#left-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

#grey-signs {
  display: flex;
}

#grey-signs button {
  color: black;
  background-color: rgb(156, 155, 155);
  display: flex;
  justify-content: center;
  align-items: center;
}

#orange-signs {
  display: flex;
  flex-direction: column;
}

#orange-signs button {
  color: white;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numbers {
  display: flex;
  flex-direction: column;
}

#numbers button {
  color: white;
  background-color: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-row {
  display: flex;
}

#second-row {
  display: flex;
}

#third-row {
  display: flex;
}

#fourth-row {
  display: flex;
}

@media only screen and (min-width: 680px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #calc-screen {
    width: 400px;
  }

  #calc {
    padding-right: 35px;
  }
}
